@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 5px 0;
    background: #41B883;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    font-size: 40px;
    font-weight: 600;
}

.navbar .logo::selection{
    background: #34495E;
    color: #41B883;
}

.navbar .links li{
    display: inline-block;
}

.navbar .links li a{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}